<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.beepiz.blegattcoroutines.sample"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true"/>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
